<nav id="dashboard">
  <ul>
    <li class="compose">
      <a href="{{ site.url }}/compose" title="Compose">
      <span><img src="{{ site.url }}/assets/dashboard.png" alt="Compose"/></span><span>Compose</span>
      </a>
    </li>
    <li class="my-scatters">
      <a href="{{ site.url }}/my-scatters" title="My Scatters">
      <span><img src="{{ site.url }}/assets/dashboard.png" alt="Compose"/></span><span>My Scatters</span>
      </a>
    </li>
    <li class="statistics">
      <a href="{{ site.url }}/statistics" title="Statistics">
        <span><img src="{{ site.url }}/assets/dashboard.png" alt="Compose"/></span><span>Statistics</span>
      </a>
    </li>
    <li class="inbox">
      <a href="{{ site.url }}/inbox" title="Inbox">
        <span><img src="{{ site.url }}/assets/dashboard.png" alt="Compose"/></span><span>Inbox</span>
      </a>
    </li>
    <li class="account">
      <a href="{{ site.url }}/account" title="Account">
        <span><img src="{{ site.url }}/assets/dashboard.png" alt="Compose"/></span><span>Account</span>
      </a>
    </li>
  </ul>
  
  <div id="arrows">
    <span class="active">&larr;</span>
    <span>&rarr;</span>
  </div>
</nav>
