
body {
  .container {
    width: 100%;
    margin: 0 auto;
    height: auto;
    
    #header {
      @include block;
      width: $minor/2;
      overflow: hidden;
      
      position: fixed;
      top: 0;
      margin: 0;
      height: 100%;
      
      &.hide {
        width: $pad*4;
        
        nav {
          li {
            a {
              span {
                &:last-of-type {
                  display: none;
                }
              }
            }
          }
        }
      }
      
     
      /* The menu */
      nav {
        @include block;
        display: block;
        
      }
      
      #arrows {
        position: fixed;
        bottom: $pad;
        left: $pad;
        
        span {
          cursor: pointer;
          display: none;
          
          &.active {
            display: block;
          }
        }
      }
    }
    
    #content {
      @include block;
      width: auto;
      height: auto;
      margin-left: $minor/2;
      padding: 0 $pad*2;
      
      &.expand {
        margin-left: $pad*4;
      }
      
      section {
        @include block;
        width: auto;
        height: auto;
      }
    }
  }
}


