



body.pricing {
  .container {
    #header {
      display: none;
    }
    
    #content {
      section {
        background-image: url(http://metamn.github.io/scatter/assets/tablet-with-scatter-optimized.png);
        @include tablet-and-below {
          background-image: url(http://metamn.github.io/scatter/assets/tablet-with-scatter-optimized-mobile.png);
        }
        height: 250%;
        
        
        article {
          float: left;
          
          div {
            @include card;
            
            ul {
              @include list-blue;
            }
            
            table {
              @include table;
              
              th {
                font-weight: bold;
              }
              
              &:nth-of-type(odd) {
                tr {
                  /* Ads */
                  &:nth-of-type(1) {
                    td {
                      font-weight: bold;
                    }
                  }
                  
                  /* Valid */
                  &:nth-of-type(2) {
                    td {}
                  }
                  
                  /* Buttons */
                  &:last-of-type {
                    td {
                      border: 0;
                      padding: $pad 0;
                      
                      &:first-of-type {
                        h1 {
                          @include logo;
                          font-size: 100%;
                          padding: $pad/4 0 0;
                        }
                      }
                    }
                  }
                }
              }
              
              /* Mobile */
              &:nth-of-type(even) {
                tr {
                  td {
                    font-weight: normal;
                    
                    /* button */
                    &:nth-of-type(4) {
                      padding: 0 0 $pad;
                      width: auto;
                    }
                  }
                }
              }
            }
          }
          
          @include tablet-and-below {
            width: 70%;
            margin: 0 15%;
            
            header {
              text-align: center;
            }
          }
          
          @include mobile {
            width: 94%;
            margin: 0 3%;
          }
          
          @include small-screen {
            width: 80%;
            margin: 0 10%;
            
            button {
              font-size: 60%;
            }
          }
          
          @include normal-screen {
            button {
              font-size: 80%;
            }
          }
        }
      }
    }
  }
}





